#root {
    font-family: Helvetica, sans-serif;
    display: flex;

    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

h3 {
    margin-left: 10px;
}

.container {
    color: #f4b050
}


hr {
    color: #333;
    width: 100%;
}

.list {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: flex-start;
    border-radius: 2px;
}

.item input[type='checkbox'] {
    accent-color: #007bff;
    margin-right: 8px;
    align-self: flex-start;
    transform: scale(1.5);
}

.item span {
    font-size: 16px;
    color: #333;
    flex: 1;
}

button {
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    background-color: #409eff;
    color: #fff;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #3a8ee6;
}

button:focus {
    outline: none;
    box-shadow: 0 0 12px #409eff;
}

#top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.define {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.define.active {
    opacity: 1;
    pointer-events: auto;


}

#d_form {
    background-color: rgb(238, 237, 237);
    padding: 50px;
    margin-top: 30px;
    border-radius: 10px;
}

label {
    font-size: 16px;
}